@font-face {
    font-family: 'InterGB';
    src: url('inter_regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'InterGB';
    src: url('inter_medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'InterGB';
    src: url('inter_semibold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'InterGB';
    src: url('inter_bold.ttf');
    font-weight: 700;
    font-style: normal;
}
